.card {
    display: flex;
    align-items: center;
    width: 1200px; /* Kart genişliği artırıldı */
    padding: 50px 30px 50px 20px;
    background: linear-gradient(90deg, rgb(255, 255, 255), #333);
    border-radius: 24px;
    margin-top: 50px;
    margin-bottom: 20px; /* Kartlar arası boşluk ayarı */
    margin: 0 auto;
  }
  
  .card img {
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
  }
  
  
  .card h3 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0 0 0 / 90%);
  }
  
    @media (width <= 740px) {
      .card {
        margin: 0 40px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        text-align: center;
        flex-direction: column;
      }
    
      .card h2 {
        margin-right: 0;
        font-size: 26px;
      }
    
      .card img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
      }
    }
    