#participantsList, #removedUsersList {
            border: 3px solid #ccc;
            padding: 10px;
            box-sizing: content-box;
            margin-bottom: 20px;
            max-height: 300px;
            overflow-y: auto;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        button {
            background-color: #333;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

#participantContainer {
    max-height: 200px; /* Maksimum yükseklik belirlendi */
    overflow-y: auto; /* Aşan içeriği kaydırmak için kaydırma çubuğu eklendi */
    border: 1px solid #ddd;
    padding: 10px;
}

#participants {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Liste içindeki varsayılan boşluğu kaldırır */
}

#participants li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#participants button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}