.button-group {
            display: flex;
            margin-top: 10px; /* Butonlar ile input alanları arasına boşluk bırakmak için */
        }

        .join-button {
            width: 200px;
            height: 50px;
            padding: 10px;
            font-size: 16px;
            background-color: white;
            color: #333;
            border: 3px solid #ccc;
            border-radius: 10px;
            cursor: pointer;
            margin-right: 10px; /* Butonlar arasına boşluk bırakmak için */
        }
        .leave-button {
            width: 200px;
            height: 50px;
            padding: 10px;
            font-size: 16px;
            background-color: white;
            color: #333;
            border: 3px solid #ccc;
            border-radius: 10px;
            cursor: pointer;
            margin-right: 10px; /* Butonlar arasına boşluk bırakmak için */
            /* display: none; -> hidden button */
        }
        .input-group {
            margin-bottom: 20px;
        }
        
        .save-button {
            width: 200px;
            height: 50px;
            padding: 10px;
            font-size: 16px;
            background-color: white;
            color: #333;
            border: 3px solid #ccc;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
        }
        
 .input-group textarea#description {
    resize: none; /* Kullanıcının boyutu değiştirmesini engelle */
    width: 40%; /* Genişlik, içinde bulunduğu konteynıra tam olarak sığacak şekilde ayarlandı */
    height: 100px; /* Belirli bir yükseklik değeri, ihtiyaca göre ayarlanabilir */
    flex-direction: column;
    position: relative;
    left: 50px;
}
.input-group textarea{
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: #333;
    border: 3px solid #ccc;
    border-radius: 10px;
    width: 91%;
}
.input-group {
    margin-bottom: 20px; /* İki input arasına boşluk bırakmak için */
    flex-direction: column;
    position: relative;
}

.input-group label {
    margin-left: 20px;
    font-size: 16px;
    color: #333;
}

.input-group label[for="description"] {
    position: absolute;
    top: -20px; /* Yukarıda görünmesi için pozisyon ayarı */
    padding: 0 5px;/* Yazının etrafına biraz boşluk ekleyin */
    left: 25px;
}

#participantsList {
    margin-top: 20px;
    margin-left: 50px;
    
}

#participantContainer {
    max-height: 200px; /* Maksimum yükseklik belirlendi */
    border: 3px solid #ddd;
    padding: 10px;
    width: 41%; /* Genişlik, içinde bulunduğu konteynıra tam olarak sığacak şekilde ayarlandı */
    height: 200px; /* Belirli bir yükseklik değeri, ihtiyaca göre ayarlanabilir */
    border-radius: 10px;
    margin-bottom: 50px;
}

#participants {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Liste içindeki varsayılan boşluğu kaldırır */
    margin-left: 50px;
}




