body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.button {
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    background-color: white; 
    color: #333;
    border: 3px solid #ccc; 
    border-radius: 5px;
    cursor: pointer;
}

.search-main {
    background-color: #3F3F3F;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tbox-search {
    float: left;
    background: none;
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: 16px;
    width: 0;
    transition: 1s;
}

.btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 16px;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
}

.search-main:hover > .tbox-search {
    width: 200px;
}

.container {
    display: flex;
    align-items: center;
}

.hosting {
    display: inline-block;
    margin-right: 20px;
}

.hosting:last-child {
    margin-right: 0;
}
